/**/

body {
	background: #efefef;
}

#topo {
    margin-top: 3%;
}

#topo #vez-de{
	font-weight: bold;
	font-size: 32px;
    line-height: 14px;
}

#jogo {
	margin-top: 40px;
}

#jogo #grid .tile{
	height: 145px;
	width: 145px;
	text-align: center;
	cursor: pointer;
}

#grid .col-grid {
	margin-left: auto;
    margin-right: auto;
}

#jogo #grid .tile.desabled{
	font-size: 150px;
    font-weight: bold;
    line-height: 120px;
    pointer-events: none;
}

#jogo #grid .tile.ganhou{
	background-color: rgb(18, 150, 33);
}

#jogo #grid .tile.desabled.x{
	color: red;
}

#jogo #grid .tile.desabled.o{
	color: blue;
}

#bottom {
	margin-top: 50px;
}

#bottom .button {
	width: 45%;
    padding: 10px;
    text-align: center;
    font-weight: bold;
    cursor: pointer;
    margin: 0 auto;
}